<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OpenEvents</title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>

  <body class="min-h-screen flex flex-col">
    <%- include("../includes/navbar.ejs") %>

    <main class="grow"><%- body %></main>

    <%- include("../includes/footer.ejs") %>

    <script src="/js/error.js"></script>
  </body>
</html>
